.formCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #29082c5d;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(122, 8, 137, 0.8);
  align-items: stretch;
  border-color: rgb(164, 17, 164);
}

.formCard-text {
  color: #ffffff;
  
}

.formCard-delete {
  padding: 10px 20px;
  background-color: #8a4da6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formCard-delete:hover {
  background-color: #e312ce;
}

.ulStyle {
  list-style-type: none;
}